table.all-table {
    border-padding: 0px;
}

tr.header {
    font-weight: bold;
}

.all-table tr.header td {
    text-align: center;
    padding: auto;
}

.all-table td {
    padding-top: 2px;
    padding-bottom: 2px;
}

.all-table td.checkcell {
    width: 80px;
    text-align: center;
    padding: auto;
}

.all-table td.ascended {
    background-color: #FFA;
}

tr.stats td {
    border-top: 1px solid black;
}

div.admin_mode {
    visibility: hidden;
    display: none;
}

div#milestones {
    float: left;
    display: inline;
    margin-right: 30px;
}

div#other-achievements {
    float: left;
}

div#conduct {
    float: left;
    margin-left: 30px;
}
