table.all-table {
    border-padding: 0px;
}

tr.header {
    font-weight: bold;
}

.all-table tr.header td {
    text-align: center;
    padding: auto;
}

.all-table .td {
    padding: 0px;
    margin: 0px;
}

.all-table td.checkcell {
    width: 80px;
    text-align: center;
    padding: auto;
}

.all-table td.ascended {
    background-color: #FFA;
    border: 1px solid #FFA;
    padding: 0px;
    margin: 0px;
}